<div class="container">
  <br /><h2>Quản lí loại sản phẩm</h2><br />

  <a href="/admin/categories/more-categorie" class="btn btn-primary">Thêm loại sản phẩm</a><div
  ></div><br />
  <form
    class="input-group flex-nowrap"
    method="get"
    action="/admin/categories/search"
  >
    <input
      type="text"
      class="form-control"
      name="search"
      value="{{searchKeyword}}"
      placeholder="Nhập từ khóa tìm kiếm loại sản phẩm"
      aria-label="Username"
      aria-describedby="addon-wrapping"
    />
    <button
      type="submit"
      style="cursor: pointer;"
      class="input-group-text"
      id="addon-wrapping"
    >Tìm kiếm</button>
  </form>
  <br />
  <a href="/admin/categories/trash">Thùng rác ({{count}})</a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Search Term</th>
        <th scope="col" colspan="2">Options</th>
      </tr>
    </thead>
    <tbody>
      {{#if categories}}
        {{#each categories}}
          <tr>
      <th scope="row">{{ sum @index 1 }}</th>
      <td> <a href="/admin/products/{{this.slug}}">{{ this.name }}</a> </td>
      <td>{{ this.searchTerm }}</td>
      <td style="display: flex;">
      <form style="padding-right: 7px;" method="post" action="/admin/categories/{{this._id}}/delete?_method=DELETE">
        <button type="submit" onclick="return confirm('Bạn có muốn xóa loại sản phẩm này không?');"  class="btn btn-danger">Xóa</button>
      </form>
        <a href="/admin/categories/{{this._id}}/update" class="btn btn-warning">Sửa</a>
      </td>
        {{/each}}
      {{else}}
        <tr>
          <td>Loại sản phẩm trống.</td>
        </tr>
      {{/if}}
    </tbody>
  </table>
</div>